{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div id="create-button">
        <form data-hx-post="{% url 'word-edit' pk=object.pk %}" data-hx-target="this" hx-swap="outerHTML">
            {{ form.as_p }}
            <button class="btn">Submit</button>
            <button class="btn" data-hx-get="{% url 'get-default-button' %}" data-hx-target="#create-button"
                    data-hx-swap="innerHTML">
                Cancel
            </button>
        </form>
    </div>
{% endblock main %}
